<style>

*{
padding:0;
}

nav{
background-color:green;
height: 50px;
border-top: 10px solid;
border-bottom:10px solid;
}
nav ul{
    height:50px;
    width:600px;
    margin:0 auto;
    
}
nav ul li{
    list-style-type :none;
    width:150px;
    float:left;
    text-align: center;
    }
li a {
    text-decoration: none;
    color:white;
    line-height: 50px;
    display: block;

}
li a:hover {
    background-color: #00FF00;    
    color: black;
    }

head{
color:Green;
}

  
body {
margin:0px;
padding:0px;
font-family:sans-serif;
padding: 100 px 0;
text-align:center;
font-size: 20px;
font-family:sans-serif;
background: linear-gradient( 
#81E4FE,#66FF99);
}

#mycanvas{
border-style: solid;
border-width: 10px;
}



}
</style>